* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 50vh 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button {
    position: relative;
    height: 50px;
    width: 190px;
    border: 2px solid #8080803c;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
.button .text-background {
    display: inline-block;
    position: absolute;
    width: 42px;
    border-radius: 2px;
    height: 42px;
    background-color: #ffffff;
    transition: all 0.4s linear;
}
.button i {
    font-size: 30px;
    color: #000000;
    position: absolute;
    top: 7px;
    left: 8px;
    z-index: 1;
    transform: rotate(-45deg);
    transition: all 0.4s linear;
}
.button .text {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 53px;
}
.button:hover i {
    transform: rotate(0deg);
    left: 77px;
}
.button:hover .text-background {
    width: 98%;
}